:root {


    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Caveat', cursive;






}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}





h1 {

    margin-top: 0;
    font-family: 'Caveat', cursive;
}

h2 {

    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}

h3 {

    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}




/* Mis contenedores de la web organizador de arriba hacia abajo */

div.Top-Container {

    background-color: #FFFFFF;
    position: relative;
    padding-top: 412px;

}


div.Pre-Middle-Container {

    width: 200px;
    height: 200px;
    background-color: purple;
    position: relative;

}



div.Middle-Container {

    width: 200px;
    height: 200px;
    background-color: #394a6d;
}


div.Pre-Bottom-Container {

    width: 200px;
    height: 200px;
    background-color: #7ebb1c;
}

div.Bottom-Container {

    width: 200px;
    height: 200px;
    background-color: #3c9d9b;
}


/* 
Imagenes y formas que dan vida a la web */




.FormaAzulSupTC {
    width: 40%;
    position: absolute;
    top: -70px;
    left: -339.136px;
    width: 496.48px;


    /* right:1050px;
    bottom:80px; */
}


.FormaAzulInfeTC {
    /* width: 25%; */
    position: absolute;





}



.ImgCentralTC {

    width: 50%;
}