:root {


    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Caveat', cursive;






}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}



h1 {


    margin:3.125rem;
    font-family: 'Caveat', cursive;
    font-size:5.625rem ;  
    color: #000071;
    line-height: 2;
}

h2 {

    margin-top: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
    color: #000071;
    font-weight: normal;
    
}

h3 {

    margin-top: 0;
    font-family: 'Open Sans Condensed',
    sans-serif;
    color: #000071;
    
}




/* Mis contenedores de la web organizador de arriba hacia abajo */

div.Top-Container {

    background-color: #FFFFFF;
    position: relative;
    padding-top: 312px;

}


div.Pre-Middle-Container {


    /* width: 200px;
    height: 200px; */
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 70px;;
    
}



div.Middle-Container {


    /*  width: 200px;
    height: 200px; */
    background-color: #FFFFFF;
    position: relative;
    padding-bottom: 20px;
    
}



div.Pre-Bottom-Container {

    /* width: 200px;
    height: 200px; */
    background-color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 150px;
    position: relative;
}


div.Bottom-Container {


    /*   width: 200px;
    height: 200px; */
    padding-top: 100px;
    margin-top: 10px;
    background-color: #ffffff;
}




div.skill-row{
    width:50%;
    margin: 150px auto 150px auto ;
    text-align: left;
    line-height: 2;
    
    
}

div.profile{
     width:80%;
     margin: 20px auto 20px auto;
     

}

p {
    font-size: 20px;
    font-weight: lighter;
}

/* 
Imagenes y formas que dan vida a la web */




.FormaAzulSupTC {
    width: 40%;
    position: absolute;
    top: -70px;
    left: -339.136px;
    width: 496.48px;
    /* right:1050px;
    bottom:80px; */
}


.formaazulseccioncontacto{
	overflow: visible;
    position: absolute;
    width: 150px;
    top:-10px;
    right:0px



}




.FormaAzulInfeTC {
    /* width: 25%; */
    position: absolute;


}






.ImgCentralTC {

    
/*     width: 45.625rem;
    margin: 0 auto  */

    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
}

.imgpersonal{

    width: 15.625rem;
    padding-top: 5rem
    

}


.skill1{
   width: 25%;
   float: left;
   margin-right:1.875rem;
  
  
}





.skill2{
    width: 25%;
    float: right;
    margin-left:1.875rem;
}

.skill2text{
    clear: right;
}





.contactmeimg{
    width: 25rem;
}

.footercontacticons{

    color: #4285F4;
    margin: 3px;
    font-size: 2rem;

}

.footercontacticons:hover{
    color: #000071;
   
   

}

blockquote {
    font-size: 1.4em;
    width: 60%;
    margin: 50px auto;
    font-family: 'Roboto',
sans-serif;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #4285F4;
    line-height: 1.6;
    position: relative;
    background: #FFFFFF;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #4285F4;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}




.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #4285F4;
    box-shadow: 0px 15px 20px #4285F4;
    color: #fff;
    transform: translateY(-7px);
  }

 





/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 500px) {


/* Styles */




}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 533px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 720px) {
/* Styles */
.formaazulseccioncontacto {
    visibility: hidden;
}
}

/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */


  
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}